Django==2.2.4
simplejson==3.11.1
sqlparse==0.2.2
django-filter==1.0.4
django-statici18n==1.7.0
django-timezone-field==2.1
django-constance[database]==2.3.1
django-logentry-admin==1.0.4
django-admin-sortable2==0.6.21
django-admin-rangefilter==0.3.9
django-admin-comments==1.0.1
django-appconf==1.0.2
raven==6.9.0
argon2-cffi==18.3.0
djangorestframework==3.9.4
Markdown==2.6.11
python-memcached==1.59
requests==2.21.0

django-cron==0.5.1
django-rq==1.2.0
rq==0.13.0
pytz==2018.7
sorl-thumbnail==12.5.0
Pillow==5.3.0
python-dateutil==2.7.5
pyotp==2.2.7

ipython==6.5.0
lorem==0.1.1
names==0.3.0
transliterate==1.10.2
Faker==1.0.7
sha3==0.2.1
django-decorator-include==2.0
django-modeladmin-reorder==0.3.1
-e git+https://github.com/makeev/django-boolean-switch.git@ed740dbb56d0bb1ad20d4b1e124055283b0e932f#egg=django_boolean_switch
django-modeltranslation==0.13.1
